.homeContainer {
    display: flow-root;
    justify-content: center;
    align-items: center;
}

.homeHeader {
    color: darkorchid;
    text-align: center;
    margin: 50px auto;
}

.homeMiniHeader{
    color:deeppink;
    text-align: center;
    margin: 50px auto;
}

.homeText {
    color: black;
    font-size: 15px;
    text-align: center;
    width: 40%;
    margin: 50px auto;
}