.methodContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:rgb(243, 241, 231);
}

.methodText {
    display: flex;
    color: rgb(43, 109, 153);
    font-size: 14px;
    text-align: center;
    width: 50%;
    margin: 20px ;
}

.styleMehtodImg {
    background-color: crimson;
    color: cyan;
}