.container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.methodText {
    color: darkviolet;
    font-size: 25px;
    text-align: center;
    width: 50%;
    margin: 90px auto;
}