.typesContainer {
    display: inline-block;
    justify-content: center;
    align-items: center;
}

.typesText {
    display: inline-block;
    color: darkblue;
    font-size: 15px;
    text-align: center;
    margin: 20px 20px;
}